@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url("fonts/Exo2-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-display: auto;
  font-weight: 600;
  src: url("fonts/Exo2-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  font-style: italic;
  font-display: auto;
  font-weight: 600;
  src: url("fonts/Exo2-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Exo2";
  font-style: italic;
  font-display: auto;
  font-weight: 800;
  src: url("fonts/Exo2-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("fonts/Inter-Regular.woff2") format("woff2"),
       url("fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("fonts/Inter-Italic.woff2") format("woff2"),
       url("fonts/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("fonts/Inter-Medium.woff2") format("woff2"),
       url("fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("fonts/Inter-MediumItalic.woff2") format("woff2"),
       url("fonts/Inter-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("fonts/Inter-Bold.woff2") format("woff2"),
       url("fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("fonts/Inter-BoldItalic.woff2") format("woff2"),
       url("fonts/Inter-BoldItalic.woff") format("woff");
}
